.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/**************************/
/****  INPUT & BUTTON & IFRAME****/
/**************************/
button,
input {
  overflow: hidden !important;
}
.upload_img {
  width: 49%;
  float: right;
  margin-top: 3em;
}
.form-control {
  width: 50%;
}
.label_file {
  padding: 10px 20px;
  text-decoration: none;
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 11px;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  height: 40px;
}
.button_main {
  color: white;
  border: 1px solid #fff;
}
#formUploadImage {
  width: 1px;
  height: 1px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: none;
  pointer-events: auto;
}
.inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #7fc241;
}

.inputBox input,
.inputBox.textarea textarea {
  position: absolute;
  top: 4px;
  left: -8px;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-family: FingerPaint;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #231f20;
  margin-bottom: 20px;
}

.inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  color: #231f20;
  line-height: 40px;
  font-size: 18x;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
  z-index: 1;
}

.inputBox input:focus + .text,
.inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #7fc241;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.inputBox input:focus ~ .line,
.inputBox input:valid ~ .line {
  height: 100%;
}

.inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.inputBox textarea:focus + .text,
.inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.inputBox textarea:focus ~ .line,
.inputBox textarea:valid ~ .line {
  height: 100%;
}
.error {
  color: red;
}
input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #7fc241;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
