/**************************** HEADER ****************************/
/* .headerNotLogged 
{
    color: white;
    background-color: #1E1E1E;
} */

.header_nav_account {
  display: flex;
  margin-top: 4px;
  justify-content: flex-end;
}

/**************************** TITRES ****************************/
.subtitleMain2 {
  width: 100%;
  text-align: center;
}

.nameProject {
  font-size: 40px;
  width: inherit;
  padding: 7px;
  border-radius: 5px;
}

.titlePage {
  font-size: 30px;
}

/**************************** RESPONSIVE ****************************/

@media screen and (max-width: 1030px) {
  .nameProject {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  }
  .titlePage {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (max-width: 630px) {
  .nameAndTitle {
    margin-left: calc(17px + 6 * ((100vw - 320px) / 680)) !important;
  }
  .logoFoot {
    margin-left: calc(5px + 6 * ((100vw - 320px) / 680)) !important;
  }
  .iconsHeader {
    width: calc(80px + 6 * ((100vw - 320px) / 680)) !important;
  }
}

@media screen and (max-width: 500px) {
  .nameAndTitle {
    margin-left: calc(5px + 6 * ((100vw - 320px) / 680)) !important;
  }
  .logoFoot {
    width: 58px;
  }
  .nameProject {
    font-size: calc(25px + 6 * ((100vw - 320px) / 680));
  }
  .titlePage {
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
  .iconsHeader {
    width: calc(50px + 6 * ((100vw - 320px) / 680)) !important;
  }
}

/**************************** DATALIST ****************************/

#adm_admin_datalist {
  width: 100% !important;
}

.adm_admin_select {
  width: 100%;
  height: 40px;
}

#modal_datalist {
  width: 50% !important;
  max-width: 500px !important;
}

/**************************** MODALES ****************************/
#messageConfirmation {
  text-align: center;
}

.modal-header {
  color: #7fc241;
}

#modalConfirm {
  border: 6px solid;
  border-image: linear-gradient(
      90deg,
      rgba(127, 194, 65, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(227, 0, 126, 1) 100%
    )
    1;
  margin-top: 50px;
  height: 300px;
}

.modal-header {
  border-bottom: none;
}

/**************************** IMAGES/LOGOS ****************************/
.field-icon {
  float: right;
  margin-right: 5px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.field-icon > img {
  width: 20px;
}

#iconeAide {
  width: 60px;
}

.iconsHeader {
  width: 150px;
}

.logoFoot {
  width: 68px;
}
