/**************************************/

/* CSS du Header/Footer */

/**************************************/

:root {
  --green_afpa: #7fc241;
  --white: white;
}
.nav-link {
  color: whitesmoke !important;
}
.home_img {
  width: 300px !important;
  height: 230px !important;
}

body {
  background-image: url(../../assets/img/football.png);
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* background-image: linear-gradient(135deg, cyan, #000, 60%, #000);
  height: 100% !important; */
}

.logo_home img {
  width: 20%;
  margin-left: 4%;
}

.main-header li {
  list-style: none !important;
  font-size: 19px !important;
}

.borders {
  border: inherit;
  margin-top: 15px;
  border-bottom: 5px solid !important;
  border-color: var(--green_afpa) !important;
}

.home_title h1 {
  font-size: 60px !important;
  padding-bottom: 0 !important;
  font-weight: none !important;
  padding-top: 0 !important;
}

.home h2 {
  font-size: 23px !important;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

a {
  color: cyan;
  text-decoration: none !important;
}

li a {
  color: black !important;
  text-decoration: none !important;
}

.main-footer li {
  font-weight: bold !important;
  font-size: 13px !important;
}

.dropdown-item {
  -webkit-transition-duration: 0.1s !important;
  /* Safari */
  transition-duration: 0.1s !important;
}

.dropdown-item:hover {
  background-color: var(--green_afpa);
  color: var(--white);
}

/* Pop */

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: var(--green_afpa);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: var(--green_afpa);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  font-family: "FingerPaint";
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.logo_disconect img {
  width: 5%;
}

.modalHome {
  background-color: #0000008f;
}

.modalDialogHome {
  margin-top: 13%;
}

.wBtn {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;
}

.wBtn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.wBtn svg rect {
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.wBtn span {
  background: #000;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#121212),
    to(lightgreen)
  );
  background: linear-gradient(to right, #121212 0%, lightgreen 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wBtn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

@media screen and (max-width: 580px) {
  body {
    background-image: linear-gradient(135deg, cyan, #000, 60%, #000);
    height: 100% !important;
  }
}
