.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardGrid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5em;
}
.card {
  border: 10px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}
.card-title {
  height: 60px;
  display: flex;
  color: aliceblue;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: small;
  padding: 20px;
}
#teams {
  display: flex;
  justify-content: space-between;
}
#teams h6 {
  font-size: 15px;
  color: aliceblue;
}
.modal {
  background: #121212 !important;
}
.show {
  display: block;
}
.signup {
  float: right;
}
.hide {
  display: none;
}
.versus {
  font-size: xx-large;
  color: black;
  line-height: 20px;
}

@media screen and (min-width: 580px) {
  .control {
    flex-direction: row !important;
  }
  .login img {
    width: 10% !important;
  }
  .signup {
    float: right !important;
  }
}
